/* form & info modal shared */
.form-modal,
.info-modal {
	padding: 0rem;
	border-radius: var(--wrapper-border-radius);
}
.form-modal::backdrop,
.info-modal::backdrop {
	backdrop-filter: blur(2px);
	background-color: rgb(64, 64, 80, 50%);
}
.modal__child-wrap {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	padding: 2rem;
	border-radius: var(--wrapper-border-radius);
}

.modal-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.modal-close-btn {
	padding: 0.75rem;
}

/* form modal component */
.form-modal__form {
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.form__item {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	font-size: 1.25rem;
}
.form__item--row {
	display: flex;
	gap: 0.5rem;
	font-size: 1.25rem;
}

.form__item > input,
.form__item > textarea {
	padding: 0.5rem;
	font-size: 1.25rem;
	border: 1px solid;
	border-radius: 8px;
}
#picker {
	margin-right: 4px;
	scale: 1.5;
	cursor: pointer;
}

.form__radio-wrap {
	flex-direction: row;
	justify-content: space-evenly;
	margin: 0;
	padding: 1rem;
	border: 1px solid;
}
.form__radio-item {
	display: flex;
	align-items: center;
	gap: 0.5rem;
	font-size: 1.25rem;
	cursor: pointer;
}
.input-clickables {
	aspect-ratio: 1;
	width: 1.5rem;
}

#input-desc {
	padding: 0.5rem;
	resize: none;
}

.form__submit-btn {
	padding: 1rem 2rem;
	align-self: flex-end;
}

#title__info {
	max-height: 3rem;
	font-size: 1.25rem;
	overflow: hidden;
}

/* info modal component */
.info-modal__items-wrap {
	display: flex;
	flex-direction: column;
	gap: 3rem;
}

.info-modal__item {
	max-width: 25rem;
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	font-size: 1.25rem;
}

.info-modal__desc {
	width: 100%;
	max-height: 10rem;
}
#desc-info {
	max-height: 10rem;
	overflow-wrap: break-word;
	overflow: auto;
}

/* cta button component */
.btn-cta {
	align-self: flex-start;
	padding: 1rem;
	font-weight: 700;
	color: var(--primary-color);
	background-color: var(--secondary-color);
}

/* media queries */
@media screen and (max-width: 1024px) {
	/* Critical breakpoint to switch to fullscreen */
	.modal__child-wrap {
		gap: 1rem;
		padding: 1rem;
	}

	.form-modal__form {
		gap: 1.5rem;
	}
	.form__item {
		font-size: 1rem;
	}
}

@media screen and (max-width: 768px) {
	/* Tablet */
	.btn-cta {
		align-self: center;
	}

	.info-modal__item > h3 {
		font-size: 1.25rem;
	}
}

@media screen and (max-width: 512px) {
	.modal-close-btn {
		padding: 0.5rem;
	}

	.form__submit-btn {
		padding: 0.5rem 1rem;
	}

	.form__item > input,
	.form__radio-item {
		font-size: 1rem;
	}

	.info-modal__items-wrap {
		gap: 1.5rem;
	}

	.info-modal__item {
		font-size: 1rem;
	}

	#desc-info {
		max-height: 8rem;
	}
}
