/* ---INDEX---
- Variables & Global Styles
- HEADER
- SIDEBAR
- MAIN
  - modal w/ form
  - cta button
- FOOTER
*/

:root {
	--primary-color: #777;
}

*,
*::after,
*::before {
	box-sizing: border-box;
}

#root-container {
	display: grid;
	grid-template-rows: 1fr 4fr;
	grid-template-columns: 1fr 3fr;
	grid-auto-flow: row;
	gap: 2rem;
}

/* ---HEADER--- */

header {
	grid-area: 1 / 1 / 2 / -1;
	display: grid;
	place-items: center;
}

header #header--topmost {
	margin: 0;
}

/* ---SIDEBAR--- */

#sidebar {
	grid-area: 2 / 1 / -1 / 2;
	margin-left: 4rem;
}

/* ---MAIN--- */

#main-wrapper {
	grid-area: 2 / 2 / 3 / 3;
	margin-right: 4rem;
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

#sidebar__items-list,
#projects-container {
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.sidebar__item > span {
	font-size: 1.5rem;
	font-weight: 700;
}

/* modal w/ form component */

#modal {
	padding: 2rem;
}

#form {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

#form__item {
	display: flex;
	flex-direction: column;
	gap: 4px;
}

/* cta button component */

#btn-cta {
	align-self: flex-start;
	padding: 1rem;
}

#tasks-container {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
}

/* task component */

.task {
	display: flex;
	justify-content: space-between;
	padding: 0.5rem 1rem;
	border-left: 4px solid #777;
}

.task__wrapper {
	display: flex;
	align-items: center;
	gap: 1.25rem;
}

button.material-symbols-rounded {
	padding: 0;
	font-size: 1.75rem;
	background-color: transparent;
	border: 0;
	cursor: pointer;
	pointer-events: all;
}

.task__title {
	font-size: 1.25rem;
	font-weight: 700;
}

.task--completed {
	position: relative;
	pointer-events: none;
}

.task--completed::before {
	/* white filter */
	content: "";
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 102%;
	height: 100%;
	background: rgba(255, 255, 255, 0.7);
}

.task--completed::after {
	/* strikethrough */
	content: "";
	position: absolute;
	width: 100%;
	height: 1px;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	background-color: black;
}

/* ---FOOTER--- */

footer {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: 0;
	display: grid;
	place-items: center;
}
