/* ---INDEX---
- Variables & Global Styles
- HEADER
  - topmost H1
- SIDEBAR
  - projects container
  - sidebar item
- MAIN
  - form modal
	- info modal
  - cta button
	- task component
- FOOTER
*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

:root {
	--font-primary: 'Montserrat', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	--primary-color: #ddd;
}

*,
*::after,
*::before {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: var(--font-primary);
}

button {
	font-family: inherit;
}

#root-container {
	display: grid;
	grid-template-rows: auto 1fr;
	grid-template-columns: 1fr 4fr;
	grid-auto-flow: row;
	gap: 2rem 6rem;
}

/* ---HEADER--- */

header {
	grid-area: 1 / 1 / 2 / -1;
	display: grid;
	place-items: center;
	margin-top: 1rem;
}

/* topmost h1 */
#header--topmost {
	margin: 0;
}

/* ---SIDEBAR--- */

#sidebar {
	grid-area: 2 / 1 / -1 / 2;
}

/* projects container component */
#sidebar__items-list,
#projects-container {
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

/* sidebar item component */
.sidebar__item {
	display: flex;
	justify-content: flex-end;
	padding: 0.5rem 1rem;
	cursor: pointer;
}
.sidebar__item:hover {
	background-color: var(--primary-color);
	border-top-right-radius: 50px;
	border-bottom-right-radius: 50px;
}

.sidebar__item > span {
	font-size: 1.5rem;
	font-weight: 700;
}

/* ---MAIN--- */

#main-wrapper {
	max-width: 50rem;
	grid-area: 2 / 2 / 3 / 3;
	display: flex;
	flex-direction: column;
	gap: 2rem;
	margin-right: 6rem;
}

/* form modal componenet & info modal component */
#form-modal,
#info-modal {
	padding: 2rem;
}
#form-modal::backdrop,
#info-modal::backdrop {
	backdrop-filter: blur(2px);
	background: #00000050;
}

.modal-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.modal-close-btn {
	padding: 0.5rem;
}

/* form modal component */
#form {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
}

#form-modal > .modal-header {
	margin-bottom: 1rem;
}

#form-modal__action {
	margin: 0;
}

.form__item {
	display: flex;
	flex-direction: column;
	gap: 4px;
}

#form__radio {
	flex-direction: row;
	justify-content: space-evenly;
}

#input-desc {
	padding: 0.5rem;
	resize: none;
}

#form__submit-btn {
	padding: 0.5rem 2rem;
	align-self: flex-end;
}

/* info modal component */
#info-modal__container {
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.info-modal__item {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.info-modal__item-header {
	font-weight: 700;
}

#title-info {
	margin: 0;
}

#info-modal__desc {
	width: 25rem;
	max-height: 10rem;
	overflow: auto;
}

/* cta button component */
#btn-cta {
	align-self: flex-start;
	padding: 1rem;
	font-weight: 700;
	color: white;
	background-color: #303030;
	border-radius: 50px;
	border: 0;
	cursor: pointer;
}
#btn-cta:hover {
	filter: contrast(0.5);
}

#tasks-container {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
}

/* task component */
.task {
	display: flex;
	justify-content: space-between;
	padding: 0.5rem 1rem;
}

.task__wrapper {
	display: flex;
	align-items: center;
	gap: 1.25rem;
}

button.material-symbols-rounded {
	padding: 0;
	font-size: 1.75rem;
	background-color: transparent;
	border: 0;
	cursor: pointer;
	pointer-events: all;
}

.task__title {
	font-size: 1.25rem;
	font-weight: 700;
}

.task--completed {
	position: relative;
	pointer-events: none;
}

.task--completed::before {
	/* white filter */
	content: '';
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 102%;
	height: 100%;
	background: rgba(255, 255, 255, 0.7);
}

.task--completed::after {
	/* strikethrough */
	content: '';
	position: absolute;
	width: 100%;
	height: 1px;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	background-color: black;
}

.task.normal {
	border-left: 4px solid white;
}
.task.high {
	border-left: 4px solid #e53935;
}

.task__info-btn,
.task__edit-btn,
.task__delete-btn {
	border: 1px solid;
	border-radius: 50px;
}

/* ---FOOTER--- */

footer {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: 0;
	display: grid;
	place-items: center;
	margin-bottom: 1rem;
	font-weight: 700;
}
footer > * {
	color: #303030;
}
