@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");

:root {
	--font-primary: "Montserrat", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	--primary-color: #eee;
	--secondary-color: #303030;
	--wrapper-border-radius: 16px;
	--item-border-radius: 999px;
	--task-priority-width: 4px;
}

*,
*::after,
*::before {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: var(--font-primary);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
}

button {
	font-family: inherit;
	font-weight: 700;
	font-size: 1rem;
	color: var(--secondary-color);
	background-color: var(--primary-color);
	border-radius: var(--item-border-radius);
	border: 1px solid;
	cursor: pointer;
}
button:hover:not(button:disabled) {
	filter: invert(1);
}
button:disabled {
	opacity: 60%;
	cursor: not-allowed;
}

#root-container {
	display: grid;
	grid-template-rows: auto 1fr;
	grid-template-columns: 1fr 4fr;
	grid-auto-flow: row;
	gap: 2rem 6rem;
}

/* ---HEADER--- */
.header {
	grid-area: 1 / 1 / 2 / -1;
	display: grid;
	place-items: center;
	margin-top: 1rem;
}

/* ---SIDEBAR--- */
.sidebar {
	grid-area: 2 / 1 / -1 / 2;
}
.sidebar-list {
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

/* sidebar item component */
.sidebar-list__item,
.sidebar-list__button {
	border-radius: 0;
	border-top-right-radius: var(--item-border-radius);
	border-bottom-right-radius: var(--item-border-radius);
}
.sidebar-list__button {
	width: 100%;
	display: flex;
	justify-content: flex-end;
	padding: 0.5rem 1rem;
	font-size: 1.5rem;
	font-weight: 700;
	border: 3px solid var(--secondary-color);
	border-left: none;
	transform: translateX(-3rem);
}
.sidebar-list__button.active {
	transform: translateX(0);
}

/* ---MAIN-CONTENT--- */
.main-wrapper {
	max-width: 50rem;
	grid-area: 2 / 2 / 3 / 3;
	display: flex;
	flex-direction: column;
	gap: 2rem;
	margin-right: 6rem;
}

/* form & info modal componenet */
.form-modal,
.info-modal {
	padding: 0rem;
	border-radius: var(--wrapper-border-radius);
}
.form-modal::backdrop,
.info-modal::backdrop {
	backdrop-filter: blur(2px);
	background-color: rgb(64, 64, 80, 50%);
}
.modal__child-wrap {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	padding: 2rem;
	border-radius: var(--wrapper-border-radius);
}

.modal-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.modal-close-btn {
	padding: 0.75rem;
}

/* form modal component */
.form-modal__form {
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.form__item {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	font-size: 1.25rem;
}
.form__item--row {
	display: flex;
	gap: 0.5rem;
	font-size: 1.25rem;
}

.form__item > input,
.form__item > textarea {
	padding: 0.5rem;
	font-size: 1.25rem;
	border: 1px solid;
}
#picker {
	margin-right: 4px;
	scale: 1.5;
	cursor: pointer;
}

.form__radio-wrap {
	flex-direction: row;
	justify-content: space-evenly;
	margin: 0;
	padding: 1rem;
	border: 1px solid;
}
.form__radio-item {
	cursor: pointer;
}
.input-clickables {
	transform: scale(1.5);
}

#input-desc {
	padding: 0.5rem;
	resize: none;
}

.form__submit-btn {
	padding: 1rem 2rem;
	align-self: flex-end;
}

/* info modal component */
.info-modal__items-wrap {
	display: flex;
	flex-direction: column;
	gap: 3rem;
}

.info-modal__item {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	font-size: 1.25rem;
}

.info-modal__desc {
	width: 25rem;
	max-height: 10rem;
	overflow: auto;
}

/* cta button component */
.btn-cta {
	align-self: flex-start;
	padding: 1rem;
	font-weight: 700;
	color: var(--primary-color);
	background-color: var(--secondary-color);
	border: 0;
}

.tasks-container {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
	padding-top: 1rem;
	border-top: 1px dashed;
}
.tasks-container--empty {
	position: relative;
}
.tasks-container--empty::after {
	position: absolute;
	content: "- No Tasks Added -";
	left: 50%;
	transform: translateX(-50%);
	font-size: 1.5rem;
}

/* task component */
.task {
	position: relative;
	display: flex;
	justify-content: space-between;
	padding: 0.5rem 1rem;
	padding-left: calc(1rem + var(--task-priority-width));
}
.task::before,
.task--normal::before {
	position: absolute;
	left: 0;
	top: 0;
	content: "";
	width: var(--task-priority-width);
	height: 100%;
	background-color: var(--secondary-color);
	border-top-left-radius: var(--wrapper-border-radius);
	border-bottom-left-radius: var(--wrapper-border-radius);
}
.task--high::before {
	background-color: #e53935;
}
.task--completed::before {
	background-color: transparent;
}
.task__child-wrap {
	display: flex;
	align-items: center;
	gap: 1.25rem;
}
.task__toggle {
	margin: 0;
	transform: scale(2);
	accent-color: var(--secondary-color);
	cursor: pointer;
	transition: transform;
}
.task__toggle:hover {
	transform: scale(2.5);
}
.task__title {
	font-size: 1.25rem;
	font-weight: 700;
}

/* ---FOOTER--- */
footer {
	position: absolute;
	left: 50%;
	bottom: 0;
	transform: translateX(-50%);
	padding: 1rem;
	font-weight: 700;
	border-top-left-radius: var(--wrapper-border-radius);
	border-top-right-radius: var(--wrapper-border-radius);
	background-color: var(--primary-color);
}
footer > * {
	color: var(--secondary-color);
}

/* ---MEDIA QUERIES--- */
@media screen and (max-width: 1024px) {
	#root-container {
		grid-template-columns: 1fr 3fr;
		gap: 2rem 1rem;
	}

	.main-wrapper {
		margin-right: 1rem;
	}

	.task__chip-btn {
		font-size: 1rem;
		padding: 0.25rem 0.5rem;
	}
}
